################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################
/.vs/AgainstTheStorm_Assistant_App/FileContentIndex
/AgainstTheStorm_Assistant_App/.vs/AgainstTheStorm_Assistant_App/FileContentIndex
/AgainstTheStorm_Assistant_App/.vs/AgainstTheStorm_Assistant_App/v17
/.vs/AgainstTheStorm_Assistant_App/DesignTimeBuild
